finnHubConceptName,colName,typ
DepreciationDepletionAndAmortization,depreciationAndAmortization,F
ShareBasedCompensation,shareBasedCompensation,F
DeferredIncomeTaxExpenseBenefit,deferredIncomeTaxExpenseBenefit,F
IncreaseDecreaseInAccountsReceivable,increaseDecreaseInAccountsReceivable,F
IncreaseDecreaseInInventories,increaseDecreaseInInventories,F
IncreaseDecreaseInOtherReceivables,increaseDecreaseInOtherReceivables,F
IncreaseDecreaseInOtherOperatingAssets,increaseDecreaseInOtherOperatingAssets,F
IncreaseDecreaseInAccountsPayable,increaseDecreaseInAccountsPayable,F
IncreaseDecreaseInContractWithCustomerLiability,increaseDecreaseInContractWithCustomerLiability,F
IncreaseDecreaseInOtherOperatingLiabilities,increaseDecreaseInOtherOperatingLiabilities,F
NetCashProvidedByUsedInOperatingActivities,cashGeneratedByOperating,F
PaymentsToAcquireAvailableForSaleSecuritiesDebt,purchasesOfMarketableSecurities,F
ProceedsFromMaturitiesPrepaymentsAndCallsOfAvailableForSaleSecurities,proceedsFromMaturitiesOfMarketableSecurities,F
ProceedsFromSaleOfAvailableForSaleSecuritiesDebt,proceedsFromSalesOfMarketableSecurities,F
PaymentsToAcquirePropertyPlantAndEquipment,paymentForPPE,F
PaymentsToAcquireBusinessesNetOfCashAcquired,paymentForBusinessAcquisition,F
PaymentsToAcquireOtherInvestments,paymentForNonMarketableSecurities,F
ProceedsFromSaleAndMaturityOfOtherInvestments
PaymentsForProceedsFromOtherInvestingActivities
NetCashProvidedByUsedInInvestingActivities
ProceedsFromIssuanceOfCommonStock
PaymentsRelatedToTaxWithholdingForShareBasedCompensation
PaymentsOfDividends
PaymentsForRepurchaseOfCommonStock
ProceedsFromIssuanceOfLongTermDebt
RepaymentsOfLongTermDebt
ProceedsFromRepaymentsOfCommercialPaper
ProceedsFromPaymentsForOtherFinancingActivities
NetCashProvidedByUsedInFinancingActivities
CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalentsPeriodIncreaseDecreaseIncludingExchangeRateEffect
IncomeTaxesPaidNet
InterestPaidNet
