finnHubConceptName,colName,typ
CashAndCashEquivalentsAtCarryingValue,cashAndCashEquivalents,F
MarketableSecuritiesCurrent,marketableSecuritiesCurrent,F
AccountsReceivableNetCurrent,accountsReceivableCurrent,F
InventoryNet,inventory,F
NontradeReceivablesCurrent,nonTradeReceivableCurrent,F
OtherAssetsCurrent,otherAssetsCurrent,F
AssetsCurrent,assetsCurrent,F
MarketableSecuritiesNoncurrent,marketableSecuritiesNonCurrent,F
PropertyPlantAndEquipmentNet,propertyPlantEquipment,F
OtherAssetsNoncurrent,otherAssetsNonCurrent,F
AssetsNoncurrent,assetsNonCurrent,F
Assets,assets,F
AccountsPayableCurrent,accountPayableCurrent,F
OtherLiabilitiesCurrent,otherLiabilitiesCurrent,F
LongTermDebtCurrent,longTermDebtCurrent,F
LiabilitiesCurrent,liabilitiesCurrent,F
LongTermDebtNoncurrent,longTermDebtNonCurrent,F
OtherLiabilitiesNoncurrent,otherLiabilitiesNonCurrent,F
LiabilitiesNoncurrent,liabilitiesNonCurrent,F
Liabilities,liabilities,F
CommonStockValue,commonStockValue,F
TreasuryStockValue,treasuryStockValue,F
AdditionalPaidInCapital,additionalPaidInCapital,F
CommonStocksIncludingAdditionalPaidInCapital,commonStockIncludesAdditionalPaidInCapital,F
RetainedEarningsAccumulatedDeficit,retainedEarningsAccumulatedDeficit,F
AccumulatedOtherComprehensiveIncomeLossNetOfTax,accumulatedOtherComprehensiveIncomeNetTax,F
StockholdersEquity,stockholderEquity,F
LiabilitiesAndStockholdersEquity,liabilitiesAndStockholderEquity,F

