finnHubConceptName,colName,typ
DepreciationDepletionAndAmortization,depreciationAndAmortization,F
ShareBasedCompensation,shareBasedCompensation,F
DeferredIncomeTaxExpenseBenefit,deferredIncomeTaxExpenseBenefit,F
IncreaseDecreaseInAccountsReceivable,increaseDecreaseInAccountsReceivable,F
IncreaseDecreaseInInventories,increaseDecreaseInInventories,F
IncreaseDecreaseInOtherReceivables,increaseDecreaseInOtherReceivables,F
IncreaseDecreaseInOtherOperatingAssets,increaseDecreaseInOtherOperatingAssets,F
IncreaseDecreaseInAccountsPayable,increaseDecreaseInAccountsPayable,F
IncreaseDecreaseInContractWithCustomerLiability,increaseDecreaseInContractWithCustomerLiability,F
IncreaseDecreaseInOtherOperatingLiabilities,increaseDecreaseInOtherOperatingLiabilities,F
NetCashProvidedByUsedInOperatingActivities,cashGeneratedByOperating,F
PaymentsToAcquireAvailableForSaleSecuritiesDebt,purchasesOfMarketableSecurities,F
ProceedsFromMaturitiesPrepaymentsAndCallsOfAvailableForSaleSecurities,proceedsFromMaturitiesOfMarketableSecurities,F
ProceedsFromSaleOfAvailableForSaleSecuritiesDebt,proceedsFromSalesOfMarketableSecurities,F
PaymentsToAcquirePropertyPlantAndEquipment,paymentForPPE,F
PaymentsToAcquireBusinessesNetOfCashAcquired,paymentForBusinessAcquisition,F
PaymentsToAcquireOtherInvestments,paymentForNonMarketableSecurities,F
ProceedsFromSaleAndMaturityOfOtherInvestments,proceedsFromNonMarketableSecurities,F
PaymentsForProceedsFromOtherInvestingActivities,paymentForProceedsFromOtherInvestingActivities,F
NetCashProvidedByUsedInInvestingActivities,netCashProvidedByInvestingActivities,F
ProceedsFromIssuanceOfCommonStock,proceedsFromCommonStock,F
PaymentsOfDividends,paymentsOfDividends,F
PaymentsForRepurchaseOfCommonStock,paymentsForRepurchaseOfCommonStock,F
ProceedsFromIssuanceOfLongTermDebt,proceedsFromIssuanceOfLongTermDebt,F
RepaymentsOfLongTermDebt,repaymentsOfLongTermDebt,F
ProceedsFromRepaymentsOfCommercialPaper,proceedsFromRepaymentsOfCommercialPaper,F
ProceedsFromPaymentsForOtherFinancingActivities,proceedsFromPaymentsForOtherFinancialActivities,F
NetCashProvidedByUsedInFinancingActivities,netCashProvidedByFinancingActivities,F
CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalentsPeriodIncreaseDecreaseIncludingExchangeRateEffect,cashAndEquivalentsIncrease,F
IncomeTaxesPaidNet,incomeTaxesPaid,F
InterestPaidNet,interestPaid,F
