finnHubConceptName,colName,typ
CostOfGoodsAndServicesSold,costOfGoodsSold,F
GrossProfit,grossProfit,F
ResearchAndDevelopmentExpense,rndExpense,F
SellingGeneralAndAdministrativeExpense,sellingAndAdminExpense,F
OperatingExpenses,operatingExpenses,F
OperatingIncomeLoss,operatingIncomeLoss,F
NonoperatingIncomeExpense,nonOperatingIncomeExpense,F
IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest,incomeLossFromContinuingOperationsBeforeIncomeTaxes,F
IncomeTaxExpenseBenefit,incomeTaxExpenseBenefit,F
NetIncomeLoss,netIncome,F
EarningsPerShareBasic,earningPerShareBasic,F
EarningsPerShareDiluted,earningPerShareDiluted,F
WeightedAverageNumberOfSharesOutstandingBasic,weightedAvgNumberOfSharesOutstandingBasic,F
WeightedAverageNumberOfDilutedSharesOutstanding,weightedAvgNumberOfSharesOutstandingDiluted,F
